@model IEnumerable<GorevYonetimSistemi.Entities.Concretes.ToDoTask> // ToDoTask modeline göre view model

@{
    ViewBag.Title = "Task List";
}

<h2>Task List</h2>

<div class="mb-3">
    @Html.ActionLink("Create New Task", "Create", "Tasks")
</div>

@using (Html.BeginForm("FilterByStatus", "Tasks", FormMethod.Post))
{
    @Html.DropDownList("selectedStatus", ViewBag.StatusList as SelectList, new { onchange = "this.form.submit();" })
}

<table class="table">
    <thead>
        <tr>
            <th>Başlık</th>
            <th>Description</th>
            <th>Creation Date(day/mounth/year)</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.Title</td>
                <td>@task.Description</td>
                <td>@task.CreationDate.ToString("dd-MM-yyyy")</td>
                <td>@task.Status</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = task.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = task.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

